@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto+Mono&display=swap');

html{
    background-color: #F0F0F0;

  }
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    z-index: 1000;
    overflow-x: auto;
  }
  
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }
  
  .nav__link:hover {
    background-color: #e0e0e082;
    color:  #4447ff;
  }
  
  .nav__link--active {
    color: #5d60ec;
  }
  
  .nav__icon {
    font-size: 18px;
  }
  

 