/* Please ❤ this if you like it! */
@import "style.scss";

html{
    background-color: #1a1a1a;
}

body{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #ffffff;
	overflow-x: hidden;
    transition: all 200ms linear;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 8px 0;
	box-shadow: 0 10px 30px 0 rgba(50, 53, 54, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	background-color: hsl(0, 0%, 9%);
	color: #fff;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(26, 27, 27, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 50px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}

.navbar-brand img{
	height: 60px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #ffffff;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #ffffff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #ffffff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #D31010 !important;
}
.nav-item.active .nav-link{
	color: #D31010 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #D31010;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
	color: #ad0202;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}




/* #Media
================================================== */

@media (max-width: 1000px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
        content: "";
		position: absolute;
		top: 15px;
		width: 11px;
		height: 1px;
		border: none;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}

/* -------------------------------------------------------------- */

/* #Content
================================================== */
hr{
    border-top: 1px solid azure;
}

.time-slot {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #000;
	color: white;
}
.time-slot.selected {
	background-color: #D31010;
	color: #fff;
}

h1 {
	font-weight: 600;
	text-align: center;
	color: #fff;
	margin-bottom: 2rem;
  }
  h3 {
	font-weight: 600;
  }
  .calendar {
	margin: auto;
	width: 98%;
	max-width: 380px;
	padding: 1rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .calendar header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .calendar nav {
	display: flex;
	align-items: center;
  }
  .calendar ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 0px 0px 0px;
    padding: 0px;
  }
  .calendar ul li {
	width: calc(100% / 7);
	margin-top: 25px;
	position: relative;
	z-index: 2;
	color: black;
	
  }
  #prev,
  #next {
	width: 20px;
	height: 20px;
	position: relative;
	border: none;
	background: transparent;
	cursor: pointer;
  }
  #prev::before,
  #next::before {
	content: "";
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	border-color: #ccc;
  }
  #next::before {
	transform: translate(-50%, -50%) rotate(45deg);
  }
  #prev::before {
	transform: translate(-50%, -50%) rotate(-135deg);
  }
  #prev:hover::before,
  #next:hover::before {
	border-color: #000;
  }
  .days {
	font-weight: 600;
  }
  .dates li.today {
	color: #fff;
  }
  .dates li.today::before {
	content: "";
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #000;
	border-radius: 50%;
	z-index: -1;
  }
  .dates li.inactive {
	color: #ccc;
  }


  .imghead{
	width: 100%
  }

  .fixed-image {
    background: url("image.jpg") fixed center;
    background-size: cover;
    height: 500px;
    text-align: center;

}

.text h1{
    padding: 140px;
    letter-spacing: 5px;
}